@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<h1>@ViewData["Title"]</h1>*@

 <section class="background-radial-gradient overflow-hidden">


 <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">

    <div class="row gx-lg-5 align-items-center mb-5">

      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Create ways <br />
          <span style="color: hsl(218, 81%, 75%)">for your future!</span>
        </h1>

        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lexicon is a study platform that enables every student and teacher to be comfortable every day in teaching and learning. This platform is easy to use for every user.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
           

                <form id="account" method="post" class="row-cols-12">
                 <div class="pt-5">
                <h2>Log in into your account.</h2>
                <hr />
                 </div>

@*                 Email input-----------------------
*@               
                    
                     <div class="form-outline mb-4">           
                     <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control"  
                    placeholder="Email" autocomplete="username"  aria-required="true" />
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                   
               

@*                Pasword input-----------------------
*@                 <div class="form-outline mb-4">                 
                   <label asp-for="Input.Password" class="form-label"></label>
                   <input asp-for="Input.Password" class="form-control form-control-mb"  placeholder="Password"autocomplete="current-password" aria-required="true" />
                   <span asp-validation-for="Input.Password" class="text-danger"></span>
                   </div>

                @*Checkbox--------------------------*@
                <div>
                    <div class="form-check  mb-4 white-space">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                          
                             <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>

                             </label>
                    </div>

                   

                </div>

@*                Log in button -----------------------
     
*@                <div  class="btn btn-primary btn-block mb-4">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary align-center">Log in</button>
                  </div>



               </form>


               </div>

             
             </div>
             
            </div>
            

        </div>
       
    </div>
 


</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


