html {
    font-size: 14px;
    font-family: Century Gothic;
}


    html {
        font-size: 16px;
        font-family: Century Gothic;
    }


html {
    position: relative;
    min-height: 100%;
    font-family: Century Gothic;
}

body {
    margin-bottom: 0px;
    background-color: #eaf5f1;
    font-family: Century Gothic;
}

.navright {
   text-align:end;
  
    
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}



.background-radial-gradient {
    background-color:#a7cab0;
    height:100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
   
    width: 90%;
    text-align: center;
    text-decoration: overline;
    margin-inline-start: 6%;
    height: 4px;
    block-size: fit-content;
    padding-block: 4.5%;
    
}
.nt {
    text-align: center;
    padding: 1em;
    margin-left:36%;
  
    
    
}


/*content that shows information when we click nav bar
*/

.teachertable {
    background-color: white;
    background: repeating-linear-gradient(#c3e6c0,#cff1e6,white,#c3e6c0);
    font-family: Century Gothic;
    border-block: double;
    border-left-style: double;
    border-right-style: double;
    margin: 2%;
}

.btn {
    display: inline-block;
}

.svg{
    width:11%;
    height:15%;
}
/* container to edit/delete/create forms
*/
.container1 {
    margin: 1%;
    padding: 4%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 22%;
    margin-left: 55%;
    background-color: #c3e6c0;
    border-radius: 3%;
}


/*Edit Couse Background area*/

.backgroundphoto {
    background-image: url(Desk-Office.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
   
    
}


.backgroundphotodetails {
    background-color: #629f8c;
    padding: 50px 50px 50px 148px;
    background-image: url(details1.jpg);
    background-size: cover;
}

/*.TeacherBackgroundPhoto {
    background-image: url(marble2.png);
    background-size: cover;
}*/
/*3 rectangules content student sida
*/
.current {
    margin: 7%;
    padding: 3%;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 15%;
    background-color: #c3e6c0;
    align-content: center;
    width: 100%;
    border-block-style: double;
    border-left-style: double;
    border-right-style: double;
}


    .undernav {
        background-color: white;
        background: repeating-linear-gradient(90deg, hsl(218, 71%, 95%), hsl(218, 51%, 75%),hsl(218, 71%, 95%) );
        font-family: Century Gothic;
        border-block-style: groove;
        width: 300px;
        border-radius: 11%;
    }


.student {
  
    margin-block:2%;
    border-radius:3%;
    width:fit-content;
}
/*background for studentsida
*/
.studentsida {
    /*   background-image: url(studentsida3.jfif);
    background-size: cover;
*/

}

/*    wellcome datalist the beginning color-profile the page*/

.wellcome {
   
    padding:1%;
    margin-inline-start:0%;
    margin-inline-end:0%;
    text-align:center;
    border-block:groove;
    background-color:whitesmoke;
    
}
/*back button content documents sida
*/.doucumentsback {
    
    padding: 1%;
    font-size: larger;
    font-style: italic;
    font-weight: 600;
    background: repeating-linear-gradient( #c3e6c0, #c3e6c0 );
    margin:1%;
    width:15%;
    margin-top:1%;
    margin-right:3%;
    margin-left:58%;
    margin-bottom:15%;
  }

/*  no assignments alert
*/.assignments {
    margin: 1%;
    padding: 3%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 0%;
    margin-left: 56%;
    background-color: #c3e6c0;
    border-radius: 3%;
    font-size:larger;
  }

/*  user info near logout button
*/  .hellouser{
     margin-inline-start:700px;
    }

.NoModules {
    margin: 1%;
    padding: 5%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    margin-left: 5%;
    background-color: #c3e6c0;
    font-size: larger;
    border-block-style: double;
    border-left-style: double;
    border-right-style: double;
}

.docbutton {
    margin: 1%;
    padding: 1%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
    margin-left: 40%;
    background-color: #c3e6c0;
    font-size: larger;
    border-block-style: double;
    border-left-style: double;
    border-right-style: double;
    margin-bottom:0%;
}