html {
    font-size: 14px;
    font-family: Century Gothic;
}


    html {
        font-size: 16px;
        background-color: hsl(218, 71%, 95%);
        font-family: Century Gothic;
    }


html {
    position: relative;
    min-height: 100%;
    font-family: Century Gothic;
}

body {
    margin-bottom: 0px;
    background-color: #eaf5f1;
    font-family: Century Gothic;
}

.navright {
   text-align:end;
  
    
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}



.background-radial-gradient {
    background-color:#a7cab0;
    height:100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
   
    width: 90%;
    /*outline-style: groove;*/
    text-align: center;
    text-decoration: overline;
    margin-inline-start: 6%;
    height: 4px;
    block-size: fit-content;
    padding-block: 4.5%;
    
}
.nt {
    text-align: center;
    padding: 1em;
    margin-left:36%;
  
    
    
}


/*content that shows information when we click nav bar
*/

.teachertable {
    background-color: white;
    background: repeating-linear-gradient(#cff1e6,#a4d6c6,#a4d6c6,#cff1e6);
    font-family: Century Gothic;
    border-block: double;
    border-left-style: double;
    border-right-style: double;
    margin: 2%;
}

.btn {
    display: inline-block;
}

.svg{
    width:11%;
    height:15%;
}

.container1 {

    
    margin: 11%;
    padding: 4%;
    display:inline-block;
    width: fit-content;
    height: fit-content;
    margin-top:22%;
    margin-left:55%;
    background-color: #c3e6c0;
    border-radius: 3%;
    
}


/*Edit Couse Background area*/

.backgroundphoto {
    /* margin-left: 4%;
    margin-right: 5%;
    border-radius: 2%;*/
    background-image: url(Desk-Office.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
   
    
}


.backgroundphotodetails {
    background-color: #629f8c;
    padding: 50px 50px 50px 150px;
}

   



   /* .Activity {
        background-color: aquamarine;
        width: 10%;
        height: 20%;
        padding-left: 50%;
    }
*/

.current {
    margin: 3%;
    padding: 5%;
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    background: repeating-linear-gradient(#cff1e6,#a4d6c6,#a4d6c6,#cff1e6 );
    font-family: Century Gothic;
    border-radius: 3%;
    align-content: center;
    width: 100%;
    border-block-style: groove;
}

    /*.navigator{
    align-content:center;

}*/

    .undernav {
        background-color: white;
        background: repeating-linear-gradient(90deg, hsl(218, 71%, 95%), hsl(218, 51%, 75%),hsl(218, 71%, 95%) );
        font-family: Century Gothic;
        border-block-style: groove;
        width: 300px;
        border-radius: 11%;
    }


.student {
  
    margin-block:2%;
    border-radius:3%;
    width:fit-content;
}

.studentsida {
    background-image: url();
}

/*    wellcome datalist the beginning color-profile the page*/

.wellcome {
    background-color: #629f8c;
    padding:2%;
    margin-inline-start:5%;
    margin-inline-end:6%;
    text-align:center;
    border-block:groove;
    
}
