@model LMS.Core.Entities.Course

@{
    ViewData["Title"] = "Create";
}
@if (TempData["Message"] != null)
{
<div class="row pt-2 pb-2">
        <div class="col-12">
	       <div class="alert alert-info text-center">
	          <strong>@TempData["Message"]</strong>
	       </div>
        </div>
    </div>
}
<div class="pt-5">
 <h3>Create course</h3>
 </div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Courses" asp-action="CreateCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group pt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-5">
    <a asp-action="IndexTeacher">Back to teacher</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
