@model LMS.Core.Entities.Course

@{
    ViewData["Title"] = "Create";
}
@if (TempData["Message"] != null)
{
<div class="row pt-2 pb-2">
        <div class="col-12">
	       <div class="alert alert-info text-center">
	          <strong>@TempData["Message"]</strong>
	       </div>
        </div>
    </div>
}
<section class="backgroundphoto">
<div class="container1 inline-block">

<h1 style="color: #293a7d;">Create a course </h1>


<hr />
<div class="col-md-12">
    <div class="">
        <form asp-controller="Courses" asp-action="CreateCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />|
                 <button class="btn btn-outline-success "> <a asp-action="IndexTeacher">Back to teacher</a></button>
            </div>
        </form>
    </div>
</div>
</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
