
@*@model IEnumerable<LMS.Core.Entities.Course>*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Teacher</h1>





<p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#View1" aria-expanded="false" aria-controls="View1">
    Courses
  </button>
</p>


<div class="collapse" id="View1">
  <div class="card card-body">
        <tbody id="courses">
        
            @*<partial name="_Index_Partial_Student" model="@Model.ListOfUsers"/>*@
            @*<partial name="_Index_Partial_Course" model="@Model.ListOfCourses"/>*@
    </tbody>
  </div>
</div>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>