@using LMS.Core.Entities.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h2>Welcome to Lexicon, you are logged in as a Teacher</h2>
</div>

<div class="row pt-5 pb-5">
  <div class="col float-start">
    <button type="submit" class="btn btn-primary">New Course</button>
  </div>
</div> 

<div class=" pt-5">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Courses</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> Teachers</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Students</button>
   
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <partial name="_Index_Partial_Course" model="@Model.ListOfCourses"/>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <partial name="_Index_Partial_Teacher" model="@Model.ListOfTeachers"/>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
    <partial name="_Index_Partial_Student" model="@Model.ListOfStudents"/>
  </div>
</div>

</div>








 



