@using LMS.Core.Entities
@model LMS.Core.Entities.Course


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<tbody id="courses">
    <partial name="Index_Partial_Course" model ="@Model"/>
</tbody>

