
@model IEnumerable<LMS.Core.Entities.Course>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Teacher</h1>

@*    <div class="btn-group" role="group" aria-label="Basic example">  
        <button type="sub" class="btn btn-secondary" asp-controller="Courses" asp-action="Index">Student</button>  
        <a asp-action="Index" type="button" class="btn btn-success me-2" style="font-weight: bold">REGISTER NEW VEHICLE</a></div>
        <button type="button" class="btn btn-secondary">Teachers</button>  
        <button type="button" class="btn btn-secondary">Courses</button>
    </div>*@

@*    <form asp-controller="Courses" asp-action="Index">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
               <div class="form-group pt-5">
                <input type="submit" value="Student" class="btn btn-primary" />
               </div>
    </form>*@


@*<div class="row pb-5">

    <div class="col-4">
        <form asp-controller="Courses" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group pt-5">
            <input type="submit" value="Students" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-4">
         <form asp-controller="Courses" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group pt-5">
            <input type="submit" value="Teachers" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-4">
         <form asp-controller="Courses" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group pt-5">
            <input type="submit" value="Courses" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>*@



<p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#View1" aria-expanded="false" aria-controls="View1">
    Courses
  </button>
</p>


<div class="collapse" id="View1">
  <div class="card card-body">
        <tbody id="courses">
        
            <partial name="_Index_Partial_Course" />
    </tbody>
  </div>
</div>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>